@import "./variables.scss";

* {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  font-family: $font-main;
  font-size: 16px;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  position: fixed;
  overflow: hidden;
  z-index: 99;
  background: url(../images/background-header-sm.jpg) no-repeat center center fixed;
  background-size: cover;
  border-bottom: 2px solid $color-text-dark;

}

main {
  display: flex;
  flex-grow: 1;
  width: 90%;
  margin: 100px auto 0;
  padding: 24px 0;
  // background-color: darkgrey;
}

footer {
  text-align: center;
  color: #ffffff;
  padding: 10px 0;
  background-color: #002B5C;
}